body {
    background-color: rgb(207, 56, 10);
    font-family: 'Lucida Sans';
    font-size: 77px;
    color: rgb(247, 195, 117);
    font-weight: bolder;
    display: flexbox;
    text-align: center;
    padding-top: 7px;
}

#link {
    color: rgb(236, 137, 71);
    display: flexbox;
    text-align: center;
    font-size: 27px;
}

#instructions {
    font-size: 37px;
    padding-top: 22px;
    padding-left: 27px;
    color: rgb(247, 195, 117);
    text-align: left;
}

#explanation {
    font-size: 24px;
    padding-top: 7px;
    padding-left: 81px;
    color: rgb(243, 158, 89);
    text-align: left;
}